# Add `~/bin` to the `$PATH`
export PATH="$HOME/bin:$PATH";
export PATH="$HOME/.local/bin:$PATH";

# Add sbin to $PATH for homebrew
export PATH="/usr/local/sbin:$PATH";
# Also add this for M1 Macs
eval "$(/opt/homebrew/bin/brew shellenv)"

# Lemme code
export EDITOR='vim'

# Anaconda
export PATH="$PATH:/usr/local/miniconda3/bin"

# https://github.com/mathiasbynens/dotfiles/blob/master/.exports
# Enable persistent REPL history for `node`.
NODE_REPL_HISTORY_FILE=~/.node_history;
# Allow 32³ entries; the default is 1000.
NODE_REPL_HISTORY_SIZE='32768';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Always enable colored `grep` output.
export GREP_OPTIONS='--color=auto';

# Ruby too
export PATH="/usr/local/opt/ruby/bin:$PATH"

# And a few extras from setup.sh
export NVM_DIR=~/.nvm
source $(brew --prefix nvm)/nvm.sh

# If Orca is built, add it to the path
if [ -x ~/code/Orca-c/build/orca ]; then
  export PATH="$HOME/code/Orca-c/build:$PATH"
fi
