# Note: this is the local .gitignore for the .supermac repository;
# It will *not* be copied to ~ as your global .gitignore
# For global .gitignore, add patterns to .gitignore_global
.secrets
external/*
